.mediaWrapper {
  overflow: hidden;
  position: relative;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
}

.divider {
  position: relative;
  background: white;
  width: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.captions {
  display: flex;

  & > * {
    width: 50%;
    padding-right: 5px;
  }
}
