.base {
  position: relative;
  overflow: hidden;
}

.mediaWrapper {
  overflow: hidden;
  position: relative;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
}

.divider {
  position: absolute;
  z-index: 10;
  background: white;
  width: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.peekBorder {
  position: absolute;
  z-index: 10;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.captions {
  display: flex;

  & > * {
    width: 50%;
    padding-right: 5px;
  }
}

.invisible img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.arrowsVisible img {
  opacity: 1;
}

.arrows {
  position: absolute;

  animation-name: shakeLeftRight;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  transition: opacity 0.3s ease;
  opacity: 0;
}

.arrowsVisible {
  opacity: 1;
}

@keyframes shakeLeftRight {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.arrowUp,
.arrowDown,
.arrowRight,
.arrowLeft {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
}

.arrowLeft,
.arrowRight {
  animation-name: shakeLeftRight;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.arrowUp,
.arrowDown {
  animation-name: shakeUpDown;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
}

@keyframes shakeUpDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
