.base {
  position: relative;
}

.mediaWrapper {
  overflow: hidden;
  position: relative;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
}

.divider {
  position: relative;
  background: white;
  width: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.captions {
  display: flex;

  & > * {
    width: 50%;
    padding-right: 5px;
  }
}

.arrows {
  position: absolute;

  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
